@model Pineapple_AdminWeb.ViewModel.DetailsReportViewModel

@{
    ViewBag.Title = "DetailsReport";
}
<div class="space">
 

    <div>
        <h4>Detalle Noticia</h4>
        <hr />
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <h4 class="centro">@Html.DisplayFor(modelItem => Model.Noticia.Name)</h4>

                    <img src="@Model.Noticia.PictureURL" class="img-preview" />
                    <div class="caption">

                        <h5>Descripción</h5>
                        <p class="text-justify">@Model.Noticia.Description</p>

                        <div class="row">
                            <div class="col-md-3">
                                <h2><i class="fa fa-map-marker "></i></h2>
                                <h5>
                                    @{
                                        switch (Model.Noticia.IdZone)
                                        {
                                            case "1":
                                                <label>San José</label>
                                                break;

                                            case "2":
                                                <label>Alajuela</label>

                                                break;

                                            case "3":
                                                <label>Cartago</label>

                                                break;

                                            case "4":
                                                <label>Heredia</label>

                                                break;

                                            case "5":
                                                <label>Guanacaste</label>

                                                break;

                                            case "6":
                                                <label>Puntarenas</label>

                                                break;

                                            case "7":
                                                <label>Limón</label>

                                                break;

                                            default:
                                                break;
                                        }
                                    }
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <h2>
                                    <i class="fa fa-calendar"></i>
                                </h2>
                                <h5>
                                    @Model.Noticia.DateShort
                                </h5>
                            </div>
                            <div class="col-md-3">

                                @{
                                    if (Model.Noticia.Solved)
                                    {
                                        <h2><i class="fa fa-check"></i></h2>
                                            <h5>Resuelto</h5>
                                    }
                                    else
                                    {
                                        <h2><i class="fa fa-question"></i></h2>
                                            <h5>Pendiente</h5>
                                    }
                                }

                            </div>
                            <div class="col-md-3">
                                <h2>
                                    <i class="fa fa-comments-o"></i>
                                </h2>

                                <h5>
                                    @Model.Noticia.CantidadComentarios
                                </h5>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>   
            
           

                   
        </div>
    </div>
    <!-- fin noticia -->
    <!-- Inicio comentarios -->      
    <div>
        <h4>Comentarios</h4>
        <hr />
        <div class="thumbnail">

            @{
                if (Model.Comentarios.Count() == 0)
                {
                    <p> Aún no hay comentarios</p>
                }
                else
                {

                    <div class="row">
                        @{
                            foreach (var item in Model.Comentarios)
                            {
                                <div class="col-sm-12 col-md-12">
                                    
                                    <img class="right user-picture img-circle" src="@item.UserPictureURL" />
                                    <h6 class="text-left">@item.UserName</h6>
                                    <p class="text-left">@item.Description</p>
                                    <br />
                                </div>
                            }
                        }
                    </div>

                }
            }

        </div>
    </div>
    <p>

        @Html.ActionLink("Regresar", "Reporte")
    </p>
</div>

<script>
    $(function () {

        $("#nav").removeClass("navbar-transparent");
        $("#nav").addClass("navbar-inverse navbar-fixed-top");
    });
</script>