@model IEnumerable<Pineapple_AdminWeb.Models.Noticia>

<p>
    @Html.ActionLink("Crear nuevo", "AddReport")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Imagen
        </th>
        <th>
            Fecha de desaparición
        </th>
        <th>
            Categoría
        </th>
        <th>
            Provincia
        </th>
        <th>
            Estado
        </th>
        <th>
            Comentarios
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="@item.PictureURL" style="max-width:150px;max-height:150px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLost)
        </td>
        <td>
            @{
                switch (item.IdCategory)
                {
                    case "1":
                        <p>Personas</p>
                        break;

                    case "2":
                        <p>Vehículos</p>
                        break;

                    case "3":
                        <p>Mascotas</p>
                        break;

                    case "4":
                        <p>Otros</p>
                        break;

                    default:
                        break;
                }
            }
        </td>
        <td>
            @{
                switch (item.IdZone)
                {
                    case "1":
                        <p>San José</p>
                        break;

                    case "2":
                        <p>Alajuela</p>
                        break;

                    case "3":
                        <p>Cartago</p>
                        break;

                    case "4":
                        <p>Heredia</p>
                        break;

                    case "5":
                        <p>Guanacaste</p>
                        break;

                    case "6":
                        <p>Puntarenas</p>
                        break;

                    case "7":
                        <p>Limón</p>
                        break;

                    default:
                        break;
                }
            }
        </td>
        <td>
            @{
                if (!item.Solved)
                {
                    <p>Pendiente</p>
                }
                else
                {
                    <p>Resuelto</p>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityReports)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditReport", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "DetailsReport", new { id = item.Id })
        </td>
    </tr>
}

</table>
