@model IEnumerable<Pineapple_AdminWeb.Models.Noticia>
   
<div class="space">
    <p>
        @Html.ActionLink("Crear nuevo", "AddReport")
    </p>

    

    <div class="row">
       
        @foreach (var item in Model)
        {
            

            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <h4 class="centro">@Html.DisplayFor(modelItem => item.Name)</h4>

                    <img src="@item.PictureURL" class="img-preview" />
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-3">
                                <h2><i class="fa fa-map-marker "></i></h2>
                                <h5>
                                    @{
                                        switch (item.IdZone)
                                        {
                                            case "1":
                                                <label>San José</label>
                                                break;

                                            case "2":
                                                <label>Alajuela</label>

                                                break;

                                            case "3":
                                                <label>Cartago</label>

                                                break;

                                            case "4":
                                                <label>Heredia</label>

                                                break;

                                            case "5":
                                                <label>Guanacaste</label>

                                                break;

                                            case "6":
                                                <label>Puntarenas</label>

                                                break;

                                            case "7":
                                                <label>Limón</label>

                                                break;

                                            default:
                                                break;
                                        }
                                    }
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <h2>
                                    <i class="fa fa-calendar"></i>
                                </h2>
                                <h5>
                                    @item.DateShort
                                </h5>
                            </div>
                            <div class="col-md-3">
                                
                            @{
                                if (item.Solved)
                                {
                                    <h2><i class="fa fa-check"></i></h2>
                                    <h5>Resuelto</h5>
                                }
                                else
                                {
                                    <h2><i class="fa fa-question"></i></h2>
                                    <h5>Pendiente</h5>
                                }
                           }
    
                            </div>
                            <div class="col-md-3">
                                <h2>
                                    <i class="fa fa-comments-o"></i>
                                </h2>
                               
                                <h5>
                                    @item.CantidadComentarios
                                </h5>
                            </div>
                        </div>
                        <br />
                       
                        <p>
                            <span class = "btn btn-primary" role = "button">
                                @Html.ActionLink("Más información", "DetailsReport", new { id = item.Id })
                            </span>
                            <span class="btn btn-primary" role="button">
                                @Html.ActionLink("Modificar", "EditReport", new { id = item.Id })
                            </span>
                        </p>
                    </div>
                </div>
            </div>



        }
    </div>

   
</div>

<script>
    $(function () {

        $("#nav").removeClass("navbar-transparent");
        $("#nav").addClass("navbar-inverse navbar-fixed-top");
    });
</script>